* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
  color: #363636;
  scroll-behavior: smooth;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: #006eff;
  padding: 0 16px;
}

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

h1 {
  color: #fff;
}

.menu-list {
  display: flex;
  gap: 12px;
}

.menu-list li a {
  color: #fff;
  padding: 5px;
}

.menu-list li a:hover {
  color: #363636;
  border-bottom: 2px solid #363636;
} 

section {
  padding: 40px 16px 0;
}

.section-about {
  display: flex;
  gap: 28px;
}

.section-about img {
  max-height: 245px;
  border-radius: 4px;
  box-shadow:
  1.3px 2.8px 2.2px rgba(0, 0, 0, 0.011),
  3.2px 6.7px 5.3px rgba(0, 0, 0, 0.016),
  6px 12.5px 10px rgba(0, 0, 0, 0.02),
  10.7px 22.3px 17.9px rgba(0, 0, 0, 0.024),
  20.1px 41.8px 33.4px rgba(0, 0, 0, 0.029),
  48px 100px 80px rgba(0, 0, 0, 0.04)
  ;
}

.section-about h2,
#products > h2 {
  padding-bottom: 20px;
  border-bottom: 2px solid #006eff;
}

.section-about p {
  padding-top: 40px;
}

#products h2 {
  padding-top: 40px;
}

.list-products {
  padding-top: 60px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 240px;
  width: 100%;
  padding-bottom: 40px;
}

.product img {
  width: 100%;
  padding-bottom: 20px;
}

.product h3,
.product p {
  padding-bottom: 10px;
}

.product button {
  width: 100%;
  padding: 6px 0;
  border: none;
  background-color: #006eff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.product button:hover {
  background-color: #0011ff;
  transform: scale(1.1);
  transition: transform ease .2s;
}

footer {
  background-color: #006eff;
  padding: 8px;
}

span {
  color: #fff;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
  .section-about {
    flex-direction: column;
  }

  .section-about img {
    max-height: 560px;
  }

  .list-products {
    justify-content: center;
  }

}

@media screen and (max-width: 640px) {
  .menu-list {
    flex-direction: column;
  }

  .menu-list li a:hover {
    color: #363636;
    border-bottom: 2px solid #363636;
  }

  .section-about {
    flex-direction: column;
  }

  .btn-menu {
    display: flex;
  }

  .list-products {
    justify-content: center;
  }

  .product {
    padding: 4px;
    background-color: #b4e7ff;
    border-radius: 6px;
  } 

  .product img {
    padding: 4px;
  }
}